In [ ]:
#Import necessary libraries

import numpy as np
import pandas as pd

#Loading dataset
from google.colab import drive
drive.mount('/content/drive')
Data = pd.read_csv('/content/drive/MyDrive/Colab Notebooks/bank-full.csv', sep=';')

Mounted at /content/drive

In [ ]:
#Initial check

print(Data.head(20))
print('\n')
print(Data.dtypes)
print('\n')
print(Data.info())
print('\n')
print(Data.duplicated().sum())

    age           job   marital  education default  balance housing loan  \
0    58    management   married   tertiary      no     2143     yes   no
1    44    technician    single  secondary      no       29     yes   no
2    33  entrepreneur   married  secondary      no        2     yes  yes
3    47   blue-collar   married    unknown      no     1506     yes   no
4    33       unknown    single    unknown      no        1      no   no
5    35    management   married   tertiary      no      231     yes   no
6    28    management    single   tertiary      no      447     yes  yes
7    42  entrepreneur  divorced   tertiary     yes        2     yes   no
8    58       retired   married    primary      no      121     yes   no
9    43    technician    single  secondary      no      593     yes   no
10   41        admin.  divorced  secondary      no      270     yes   no
11   29        admin.    single  secondary      no      390     yes   no
12   53    technician   married  secondary      no        6     yes   no
13   58    technician   married    unknown      no       71     yes   no
14   57      services   married  secondary      no      162     yes   no
15   51       retired   married    primary      no      229     yes   no
16   45        admin.    single    unknown      no       13     yes   no
17   57   blue-collar   married    primary      no       52     yes   no
18   60       retired   married    primary      no       60     yes   no
19   33      services   married  secondary      no        0     yes   no

    contact  day month  duration  campaign  pdays  previous poutcome   y
0   unknown    5   may       261         1     -1         0  unknown  no
1   unknown    5   may       151         1     -1         0  unknown  no
2   unknown    5   may        76         1     -1         0  unknown  no
3   unknown    5   may        92         1     -1         0  unknown  no
4   unknown    5   may       198         1     -1         0  unknown  no
5   unknown    5   may       139         1     -1         0  unknown  no
6   unknown    5   may       217         1     -1         0  unknown  no
7   unknown    5   may       380         1     -1         0  unknown  no
8   unknown    5   may        50         1     -1         0  unknown  no
9   unknown    5   may        55         1     -1         0  unknown  no
10  unknown    5   may       222         1     -1         0  unknown  no
11  unknown    5   may       137         1     -1         0  unknown  no
12  unknown    5   may       517         1     -1         0  unknown  no
13  unknown    5   may        71         1     -1         0  unknown  no
14  unknown    5   may       174         1     -1         0  unknown  no
15  unknown    5   may       353         1     -1         0  unknown  no
16  unknown    5   may        98         1     -1         0  unknown  no
17  unknown    5   may        38         1     -1         0  unknown  no
18  unknown    5   may       219         1     -1         0  unknown  no
19  unknown    5   may        54         1     -1         0  unknown  no


age           int64
job          object
marital      object
education    object
default      object
balance       int64
housing      object
loan         object
contact      object
day           int64
month        object
duration      int64
campaign      int64
pdays         int64
previous      int64
poutcome     object
y            object
dtype: object


<class 'pandas.core.frame.DataFrame'>
RangeIndex: 45211 entries, 0 to 45210
Data columns (total 17 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   age        45211 non-null  int64
 1   job        45211 non-null  object
 2   marital    45211 non-null  object
 3   education  45211 non-null  object
 4   default    45211 non-null  object
 5   balance    45211 non-null  int64
 6   housing    45211 non-null  object
 7   loan       45211 non-null  object
 8   contact    45211 non-null  object
 9   day        45211 non-null  int64
 10  month      45211 non-null  object
 11  duration   45211 non-null  int64
 12  campaign   45211 non-null  int64
 13  pdays      45211 non-null  int64
 14  previous   45211 non-null  int64
 15  poutcome   45211 non-null  object
 16  y          45211 non-null  object
dtypes: int64(7), object(10)
memory usage: 5.9+ MB
None


0

In [ ]:
#Preprocess - choose relevant columns

RelevantColumns = ['age', 'job', 'marital', 'education', 'default', 'balance', 'housing',
            'loan', 'campaign', 'pdays', 'previous', 'poutcome', 'y']
FilteredData = Data[RelevantColumns]

print(FilteredData.head(20))
print('\n')
print(FilteredData.dtypes)
print('\n')
print(FilteredData.info())
print('\n')
print(FilteredData.isnull().sum())

    age           job   marital  education default  balance housing loan  \
0    58    management   married   tertiary      no     2143     yes   no
1    44    technician    single  secondary      no       29     yes   no
2    33  entrepreneur   married  secondary      no        2     yes  yes
3    47   blue-collar   married    unknown      no     1506     yes   no
4    33       unknown    single    unknown      no        1      no   no
5    35    management   married   tertiary      no      231     yes   no
6    28    management    single   tertiary      no      447     yes  yes
7    42  entrepreneur  divorced   tertiary     yes        2     yes   no
8    58       retired   married    primary      no      121     yes   no
9    43    technician    single  secondary      no      593     yes   no
10   41        admin.  divorced  secondary      no      270     yes   no
11   29        admin.    single  secondary      no      390     yes   no
12   53    technician   married  secondary      no        6     yes   no
13   58    technician   married    unknown      no       71     yes   no
14   57      services   married  secondary      no      162     yes   no
15   51       retired   married    primary      no      229     yes   no
16   45        admin.    single    unknown      no       13     yes   no
17   57   blue-collar   married    primary      no       52     yes   no
18   60       retired   married    primary      no       60     yes   no
19   33      services   married  secondary      no        0     yes   no

    campaign  pdays  previous poutcome   y
0          1     -1         0  unknown  no
1          1     -1         0  unknown  no
2          1     -1         0  unknown  no
3          1     -1         0  unknown  no
4          1     -1         0  unknown  no
5          1     -1         0  unknown  no
6          1     -1         0  unknown  no
7          1     -1         0  unknown  no
8          1     -1         0  unknown  no
9          1     -1         0  unknown  no
10         1     -1         0  unknown  no
11         1     -1         0  unknown  no
12         1     -1         0  unknown  no
13         1     -1         0  unknown  no
14         1     -1         0  unknown  no
15         1     -1         0  unknown  no
16         1     -1         0  unknown  no
17         1     -1         0  unknown  no
18         1     -1         0  unknown  no
19         1     -1         0  unknown  no


age           int64
job          object
marital      object
education    object
default      object
balance       int64
housing      object
loan         object
campaign      int64
pdays         int64
previous      int64
poutcome     object
y            object
dtype: object


<class 'pandas.core.frame.DataFrame'>
RangeIndex: 45211 entries, 0 to 45210
Data columns (total 13 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   age        45211 non-null  int64
 1   job        45211 non-null  object
 2   marital    45211 non-null  object
 3   education  45211 non-null  object
 4   default    45211 non-null  object
 5   balance    45211 non-null  int64
 6   housing    45211 non-null  object
 7   loan       45211 non-null  object
 8   campaign   45211 non-null  int64
 9   pdays      45211 non-null  int64
 10  previous   45211 non-null  int64
 11  poutcome   45211 non-null  object
 12  y          45211 non-null  object
dtypes: int64(5), object(8)
memory usage: 4.5+ MB
None


age          0
job          0
marital      0
education    0
default      0
balance      0
housing      0
loan         0
campaign     0
pdays        0
previous     0
poutcome     0
y            0
dtype: int64

In [ ]:
#Preprocessing - handle unknown values

UnknownJob = FilteredData[FilteredData['job'] == 'unknown'].shape[0]
UnknownMarital = FilteredData[FilteredData['marital'] == 'unknown'].shape[0]
UnknownEducation = FilteredData[FilteredData['education'] == 'unknown'].shape[0]
TotalRows = FilteredData.shape[0]

print('Unknown Job:', UnknownJob)
print('Unknown Marital:', UnknownMarital)
print('Unknown Education:', UnknownEducation)
print('Total Rows:', TotalRows)

UnknownJobPortion = UnknownJob / TotalRows
UnknownMaritalPortion = UnknownMarital / TotalRows
UnknownEducationPortion = UnknownEducation / TotalRows

print('\n')
print('Unknown Job Portion:', UnknownJobPortion)
print('Unknown Marital Portion:', UnknownMaritalPortion)
print('Unknown Education Portion:', UnknownEducationPortion)

Unknown Job: 288
Unknown Marital: 0
Unknown Education: 1857
Total Rows: 45211


Unknown Job Portion: 0.006370131162770122
Unknown Marital Portion: 0.0
Unknown Education Portion: 0.04107407489327818

In [ ]:
#Preprocessing - handle unknown values

FilteredData = FilteredData[FilteredData['job'] != 'unknown']
FilteredData = FilteredData[FilteredData['marital'] != 'unknown']
FilteredData = FilteredData[FilteredData['education'] != 'unknown']

print("Unknown Job Remaining:", FilteredData[FilteredData['job'] == 'unknown'].shape[0])
print("Unknown Marital Remaining:", FilteredData[FilteredData['marital'] == 'unknown'].shape[0])
print("Unknown Education Remaining:", FilteredData[FilteredData['education'] == 'unknown'].shape[0])

Unknown Job Remaining: 0
Unknown Marital Remaining: 0
Unknown Education Remaining: 0

In [ ]:
#Initial check

print(FilteredData.dtypes)
print('\n')
print(FilteredData.info())
print('\n')
print(FilteredData.duplicated().sum())
print('\n')
print(FilteredData.isnull().sum())

age           int64
job          object
marital      object
education    object
default      object
balance       int64
housing      object
loan         object
campaign      int64
pdays         int64
previous      int64
poutcome     object
y            object
dtype: object


<class 'pandas.core.frame.DataFrame'>
Index: 43193 entries, 0 to 45210
Data columns (total 13 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   age        43193 non-null  int64
 1   job        43193 non-null  object
 2   marital    43193 non-null  object
 3   education  43193 non-null  object
 4   default    43193 non-null  object
 5   balance    43193 non-null  int64
 6   housing    43193 non-null  object
 7   loan       43193 non-null  object
 8   campaign   43193 non-null  int64
 9   pdays      43193 non-null  int64
 10  previous   43193 non-null  int64
 11  poutcome   43193 non-null  object
 12  y          43193 non-null  object
dtypes: int64(5), object(8)
memory usage: 4.6+ MB
None


409


age          0
job          0
marital      0
education    0
default      0
balance      0
housing      0
loan         0
campaign     0
pdays        0
previous     0
poutcome     0
y            0
dtype: int64

In [ ]:
#Save the dataset

FilteredData.to_csv('/content/drive/MyDrive/Colab Notebooks/CleanedBank.csv', index=False)